  <div class="page-content">
      <div class="wrap">
        <div class="home">
          <h1>Papers</h1>
        
          <ul class="posts">
            $for(papers)$
            <li>
              <span class="post-date">$date$</span>
              <a class="post-link" href="$url$">$title$</a>
              <span class="post-date">$author$</span>
              <span class="post-date">$body$</span>
            </li>   
            $endfor$  
          </ul>
        </div>
      </div>
  </div>