  <div class="page-content">
      <div class="wrap">
        <div class="home">
          <h1>Some Papers of Interest</h1>
        
          <ul class="posts">
            $for(papers)$
            <li>
              <header>
                <span class="post-date">$date$</span>
                <a class="post-link" href="$url$">$title$</a>
                <span class="post-author">$author$</span>
              </header>  
              <article class="post-content">
                $body$
              </article>
            </li>   
            $endfor$  
          </ul>
        </div>
      </div>
  </div>