  <div class="page-content">
      <div class="wrap">
        <div class="home">

        $if(tagName)$
          <h1>$tagName$ posts</h1>
        $else$
          <h1>Posts</h1>
        $endif$
        
        <ul class="posts">
          $for(posts)$
          <li>
            <span class="post-date">$date$</span>
            <a class="post-link" href="$url$">$title$</a>
          </li>   
          $endfor$  
        </ul>

        <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
  </div>